<h1>Welcome to Triangle Identification App</h1>
<form action="/title">
    <div class="form-group">
        <label for="side_a">Input Side A
        </label>
        <input id="side_a" name="side_a" class="form-control" type="number">

        <label for="side_b">Input Side B
        </label>
        <input id="side_b" name="side_b" class="form-control" type="number">

        <label for="side_c">Input Side C
        </label>
        <input id="side_c" name="side_c" class="form-control" type="number">

    </div>
    <button type="submit" class="btn-success">Submit</button>
</form>
