<h3>
    Your Triangle has the following sides:
</h3>
<h4>
    Side A :
    <%=@side_a%></h4>
<h4>
    Side B :
    <%=@side_b%></h4>
<h4>
    Side C :
    <%=@side_c%></h4>

<h3>
    <%=@result%></h3>
